[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=3.1,<4"
werkzeug = ">=3.1,<4"
pymongo = "==3.11.4"
mongoengine = "==0.23.1"
marshmallow = "==3.12.2"
gunicorn = "==20.1.0"
flask-httpauth = "*"
marshmallow-mongoengine = {git = "https://github.com/benlachman/marshmallow-mongoengine.git", ref = "72787fdb5e9d598821df614c676642842ec44b0d"}
six = "==1.16.0"

[dev-packages]
pytest = "*"
mongomock = "*"

[requires]
python_version = "3.9"
