[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
mongoengine = "*"
flask-mongoengine = "*"
marshmallow = "*"
gunicorn = "*"
flask-httpauth = "*"
marshmallow-mongoengine = {git = "git://github.com/benlachman/marshmallow-mongoengine.git"}

[dev-packages]

[requires]
python_version = "3.9"
